body {
    background-color: white;
}

.container {
background-color: cornsilk;
}

.row {
    background-color: white;
}
.green {
    border: 1px solid rgb(87, 184, 87);
    border-radius: 10px;
}

.button {
    background-color: palegreen;
    border-radius: 10px;
    text-align: center;
}

/* .column {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  } */